h1{
    color: brown;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: 'Segoe UI', 'Futura', 'Arial';
    /* display: inline; */
}
span{
    background-color: paleturquoise;
    border: 1px solid black;
    font-size: 2em;
    padding: 20px;
    margin: 20px;
    /* display: block; */
}

div{
    height: 100px;
    width: 50px;
    background-color: olivedrab;
    border: 5px solid red;
    margin: 50px;
    display: inline-block;
}

section{
    background-color: #fae1dd;
    width: 500px;
    height: 800px;
}

div{
    background-color: salmon;
    width: 50%;
    height: 50%;
}