h1{
    color: brown;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: 'Segoe UI', 'Futura', 'Arial';
}

button{
    
    color: magenta;
    background-color: cyan;
}

p{
    color: darkred;
    background-color: #52b788;
    text-align: left;
    font-weight: 500;
    line-height: 3em;
}

/* This selects everything */
/* *{
    color: black;
    background-color: cyan;
} */

#headerRow {
    background-color: #e9d8a6;
}

.links {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: deepskyblue;
    text-shadow: darkseagreen;
}

/* Usage of Descendant Selector */
tr td{
    font-weight: bold;
}

/* Usage of Direct Child */
footer > a{
    color: darkslateblue;
    font-weight: bolder;
}

/* Usage of Attribute Selector */
input[type="password"]{
    color: deeppink;
}

/* Usage of Pseudo Classes */
a:hover{
    color: darkturquoise;
}

button:active{
    background-color: black;
}

input[type="radio"]:checked{
    box-shadow: 0 0 0 3px lime;
}

input[type="radio"]:nth-of-type(2n){
    font-weight: lighter;
}

/* Usage of Pseudo Elements */
p::first-letter{
    font-size: 70px;
    color: black;
}

::selection{
    background-color: darkturquoise;
}