<%- include('partials/head') %> 
<!-- The <body> tag is included in the partials/head file -->
    <%- include('partials/navbar') %> 

        <h1>Home Page
            <div>
                <h3>
                    <%= 'hello world'.toUpperCase() %>
                </h3>
            </div> 
        </h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, maiores. Aliquid quae eaque laboriosam, magni ad laborum molestiae deleniti. Veritatis maxime voluptatum quos rem quam modi nobis, voluptatibus nostrum amet!</p>

    <%- include('partials/footer') %> 