<%- include('partials/head') %> 
<!-- The <body> tag is included in the partials/head file -->
    <%- include('partials/navbar') %> 
    
        <h1>
            The <%= subreddit %> subreddit was NOT FOUND
        </h1>

    <%- include('partials/footer') %> 